In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import os
os.chdir('/content/drive/MyDrive/aiproject_team12')

In [3]:
import pandas as pd

In [4]:
rating_data = pd.read_csv('./ml-25m/ratings.csv')
movie_data = pd.read_csv('./ml-25m/movies.csv')

In [5]:
rating_data

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [6]:
rating_data.sort_values(by=['timestamp'], axis=0)

          userId  movieId  rating   timestamp
326761      2262       21     3.0   789652009
326810      2262     1079     3.0   789652009
326767      2262       47     5.0   789652009
15845015  102689        1     4.0   822873600
15845023  102689       39     5.0   822873600
...          ...      ...     ...         ...
13207880   85523   168252     4.0  1574327479
1284508     8642   202101     2.0  1574327512
13207893   85523   204704     4.0  1574327533
1284464     8642   122914     4.0  1574327549
13207877   85523   149406     4.5  1574327703

[25000095 rows x 4 columns]

In [7]:
user_movie_rating = pd.merge(rating_data, movie_data, on = 'movieId')

In [8]:
user_movie_rating

,userId,movieId,rating,timestamp,title,genres
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
1,3,296,5.0,1439474476,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
2,4,296,4.0,1573938898,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
3,5,296,4.0,830786155,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
4,7,296,4.0,835444730,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
...,...,...,...,...,...,...
25000090,162358,200192,2.0,1553453039,Den frusna leoparden (1986),(no genres listed)
25000091,162358,200194,2.0,1553453843,Tough Luck (2004),Action|Adventure|Thriller
25000092,162386,139970,3.5,1549215965,I Don't Speak English (1995),Comedy
25000093,162386,200726,4.0,1554651417,The Graduates (1995),Children|Drama
25000094,162386,200728,4.0,1554651472,Il pesce innamorato (1999),(no genres listed)

In [25]:
lowest = user_movie_rating[user_movie_rating['rating'] == 0.5]
lowest

,userId,movieId,rating,timestamp,title,genres
352,744,296,0.5,1422255443,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
679,1382,296,0.5,1070433864,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
682,1386,296,0.5,1519612862,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
798,1617,296,0.5,1462060683,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
808,1640,296,0.5,1559742272,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
...,...,...,...,...,...,...
24999885,157504,191265,0.5,1532002996,Triassic World (2018),Action|Horror|Sci-Fi
25000023,160747,143397,0.5,1476826228,If I Die Before I Wake (2001),Crime|Horror|Thriller
25000031,161460,204446,0.5,1564337717,Extraction Day (2014),Action
25000044,161542,181463,0.5,1511987764,Equilibrium (2017),(no genres listed)
25000049,161737,202539,0.5,1559064519,Cinderella and the Secret Prince (2018),Adventure|Animation|Children|Fantasy

In [35]:
lowest[lowest['genres'].str.contains('Drama')].shape[0]

119704

In [37]:
for genre in ['Drama', 'Comedy', 'Thriller', 'Romance', 'Action', 'Horror', 'Documentary', 'Crime', 'Adventure', 'Sci-Fi', 'Children', 'Animation', 'Mystery', 'Fantasy', 'War', 'Western', 'Musical', 'Film', 'Noir', 'IMAX']:
    p = lowest[lowest['genres'].str.contains(genre)]
    count = p.shape[0]

    
    a = user_movie_rating[user_movie_rating['genres'].str.contains(genre)]
    call = a.shape[0]

    print("{} {} {}".format(genre, count, call))

Drama 119704 10962833
Comedy 165409 8926230
Thriller 94599 6763272
Romance 65309 4497291
Action 126307 7446918
Horror 49525 1892183
Documentary 7898 322449
Crime 47140 4190259
Adventure 98318 5832424
Sci-Fi 74944 4325740
Children 43755 2124258
Animation 28556 1630987
Mystery 23769 2010995
Fantasy 53537 2831585
War 12859 1267346
Western 5243 483731
Musical 15056 964252
Film 1910 247227
Noir 1910 247227
IMAX 20864 1063279

In [10]:
user_movie_rating['dt'] = pd.to_datetime(user_movie_rating['timestamp'],unit='s')

In [11]:
user_movie_rating['dt']

0          2006-05-17 15:34:04
1          2015-08-13 14:01:16
2          2019-11-16 21:14:58
3          1996-04-29 13:55:55
4          1996-06-22 11:58:50
                   ...
25000090   2019-03-24 18:43:59
25000091   2019-03-24 18:57:23
25000092   2019-02-03 17:46:05
25000093   2019-04-07 15:36:57
25000094   2019-04-07 15:37:52
Name: dt, Length: 25000095, dtype: datetime64[ns]

In [12]:
hourly = user_movie_rating['dt'].astype(str).str[11:13]

In [13]:
hourly

0           15
1           14
2           21
3           13
4           11
            ..
25000090    18
25000091    18
25000092    17
25000093    15
25000094    15
Name: dt, Length: 25000095, dtype: object

In [15]:
hourly.value_counts()

21    1485061
20    1468603
19    1463082
18    1390469
22    1362826
17    1272438
23    1233974
16    1183803
00    1178186
01    1115989
02    1112536
15    1106172
03    1068687
14     972399
04     933822
13     863394
05     844382
12     770231
06     767792
07     716425
11     700201
08     677941
10     664241
09     647441
Name: dt, dtype: int64